<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-ayogo-push"
    version="1.0.0">

    <name>Push</name>
    <description>Push Notifications</description>
    <keywords>cordova,ios,push,notifications</keywords>

    <engines>
        <engine name="cordova-ios" version=">= 4.0.0" />
    </engines>

    <js-module src="www/push.js" name="Push">
        <clobbers target="window.pushRegistrationManager" />
    </js-module>

    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="Push">
                <param name="ios-package" value="CDVPushPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <source-file src="src/ios/PushPlugin.swift" />
        <source-file src="src/ios/CDVAppDelegate+Push.swift" />
    </platform>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Push">
                <param name="android-package" value="com.ayogo.push.PushPlugin" />
            </feature>
        </config-file>


        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.GET_ACCOUNTS" />
            <uses-permission android:name="android.permission.WAKE_LOCK" />
            <uses-permission android:name="android.permission.VIBRATE"/>
            <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
            <uses-permission android:name="$PACKAGE_NAME.permission.C2D_MESSAGE" />
            <permission android:name="$PACKAGE_NAME.permission.C2D_MESSAGE" android:protectionLevel="signature" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <receiver android:name="com.google.android.gms.gcm.GcmReceiver" android:exported="true" android:permission="com.google.android.c2dm.permission.SEND" >
                <intent-filter>
                    <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                    <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                    <category android:name="$PACKAGE_NAME" />
                </intent-filter>
            </receiver>
            <service android:name="com.ayogo.push.GcmListenerService" android:exported="false" >
                <intent-filter>
                    <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                </intent-filter>
            </service>
            <service android:name="com.ayogo.push.InstanceIDListenerService" android:exported="false">
                <intent-filter>
                    <action android:name="com.google.android.gms.iid.InstanceID"/>
                </intent-filter>
            </service>
        </config-file>

        <source-file src="src/android/com/ayogo/push/InstanceIDListenerService.java" target-dir="src/com/ayogo/push" />
        <source-file src="src/android/com/ayogo/push/GcmListenerService.java" target-dir="src/com/ayogo/push" />
        <source-file src="src/android/com/ayogo/push/PushPlugin.java" target-dir="src/com/ayogo/push" />

        <framework src="com.google.android.gms:play-services-gcm:+" />
    </platform>
</plugin>

