<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-ayogo-push"
    version="2.0.0">

    <name>Push</name>
    <description>Push Notifications</description>
    <keywords>cordova,ios,push,notifications</keywords>

    <engines>
        <engine name="cordova-ios" version=">= 4.5.0" />
        <engine name="cordova-android" version=">= 7.0.0" />
    </engines>

    <js-module src="www/push.js" name="Push">
        <clobbers target="window.pushRegistrationManager" />
    </js-module>

    <js-module src="www/notification.js" name="Notification">
        <clobbers target="window.notificationManager" />
    </js-module>

    <hook type="after_prepare" src="src/ios/swift-hook.js" />

    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="Push">
                <param name="ios-package" value="CDVPushPlugin" />
                <param name="onload" value="true" />
            </feature>

            <feature name="LocalNotification">
                <param name="ios-package" value="CDVPushPlugin" />
            </feature>
        </config-file>

        <config-file parent="aps-environment" target="*/Entitlements-Debug.plist">
          <string>development</string>
        </config-file>

        <config-file parent="aps-environment" target="*/Entitlements-Release.plist">
          <string>production</string>
        </config-file>

        <header-file src="src/ios/CDVAppDelegate+Push.h" />
        <source-file src="src/ios/PushPlugin.swift" />
        <source-file src="src/ios/CDVAppDelegate+Push.m" />
    </platform>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Push">
                <param name="android-package" value="com.ayogo.push.PushPlugin" />
            </feature>
            <feature name="LocalNotification">
                <param name="android-package" value="com.ayogo.notification.NotificationPlugin"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application/activity">
            <intent-filter>
                <action android:name="push" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

            <receiver android:name="com.ayogo.notification.TriggerReceiver" android:exported="false" />
            <receiver android:name="com.ayogo.notification.RestoreReceiver" android:exported="false" >
                <intent-filter>
                    <action android:name="android.intent.action.BOOT_COMPLETED" />
                </intent-filter>
            </receiver>

            <service android:name="com.ayogo.push.MessagingService">
              <intent-filter>
                  <action android:name="com.google.firebase.MESSAGING_EVENT" />
              </intent-filter>
            </service>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>

        <source-file src="src/android/com/ayogo/push/PushPlugin.java" target-dir="src/com/ayogo/push" />

        <source-file src="src/android/com/ayogo/notification/NotificationPlugin.java" target-dir="src/com/ayogo/notification" />
        <source-file src="src/android/com/ayogo/notification/RestoreReceiver.java" target-dir="src/com/ayogo/notification" />
        <source-file src="src/android/com/ayogo/notification/ScheduledNotification.java" target-dir="src/com/ayogo/notification" />
        <source-file src="src/android/com/ayogo/notification/ScheduledNotificationManager.java" target-dir="src/com/ayogo/notification" />
        <source-file src="src/android/com/ayogo/notification/TriggerReceiver.java" target-dir="src/com/ayogo/notification" />

        <preference name="ANDROID_SUPPORT_V4_VERSION" default="27.+" />
        <preference name="FCM_VERSION" default="11.8.0" />

        <framework src="com.android.support:support-v4:$ANDROID_SUPPORT_V4_VERSION" />
        <framework src="com.google.android.gms:play-services-base:$FCM_VERSION" />
        <framework src="com.google.firebase:firebase-messaging:$FCM_VERSION" />
        <framework src="src/android/push.gradle" custom="true" type="gradleReference" />
    </platform>
</plugin>
