<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright 2018 Ayogo Health Inc.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

https://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-ayogo-push" version="2.0.1">
  <name>cordova-plugin-ayogo-push</name>
  <description>A Cordova plugin for push and locally scheduled notifications.</description>
  <keywords>cordova,ios,android,push,notifications</keywords>
  <license>Apache 2.0</license>
  <repo>https://github.com/AyogoHealth/cordova-plugin-ayogo-push.git</repo>
  <issues>https://github.com/AyogoHealth/cordova-plugin-ayogo-push/issues</issues>

  <engines>
    <engine name="cordova-ios" version=">= 4.5.0" />
    <engine name="cordova-android" version=">= 7.0.0" />
  </engines>

  <js-module src="www/push.js" name="Push">
    <clobbers target="window.pushRegistrationManager" />
  </js-module>

  <js-module src="www/notification.js" name="Notification">
    <clobbers target="window.notificationManager" />
  </js-module>

  <hook type="after_prepare" src="src/ios/swift-hook.js" />

  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="Push">
        <param name="ios-package" value="CDVPushPlugin" />
        <param name="onload" value="true" />
      </feature>

      <feature name="LocalNotification">
        <param name="ios-package" value="CDVPushPlugin" />
      </feature>
    </config-file>

    <config-file parent="UIBackgroundModes" target="*-Info.plist">
      <array>
        <string>remote-notification</string>
      </array>
    </config-file>

    <config-file parent="aps-environment" target="*/Entitlements-Debug.plist">
      <string>development</string>
    </config-file>

    <config-file parent="aps-environment" target="*/Entitlements-Release.plist">
      <string>production</string>
    </config-file>

    <header-file src="src/ios/CDVAppDelegate+Push.h" />
    <source-file src="src/ios/PushPlugin.swift" />
    <source-file src="src/ios/CDVAppDelegate+Push.m" />
  </platform>

  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Push">
        <param name="android-package" value="com.ayogo.cordova.push.PushPlugin" />
      </feature>
      <feature name="LocalNotification">
        <param name="android-package" value="com.ayogo.cordova.notification.NotificationPlugin"/>
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application/activity">
      <intent-filter>
        <action android:name="push" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
      <meta-data android:name="google_analytics_adid_collection_enabled" android:value="false" />
      <meta-data android:name="firebase_crash_collection_enabled" android:value="false" />

      <receiver android:name="com.ayogo.notification.TriggerReceiver" android:exported="false" />
      <receiver android:name="com.ayogo.notification.RestoreReceiver" android:exported="false" >
        <intent-filter>
          <action android:name="android.intent.action.BOOT_COMPLETED" />
        </intent-filter>
      </receiver>

      <service android:name="com.ayogo.cordova.push.MessagingService">
        <intent-filter>
          <action android:name="com.google.firebase.MESSAGING_EVENT" />
        </intent-filter>
      </service>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    </config-file>

    <source-file src="src/android/push/PushPlugin.java" target-dir="src/com/ayogo/cordova/push" />
    <source-file src="src/android/push/MessagingService.java" target-dir="src/com/ayogo/cordova/push" />

    <source-file src="src/android/notification/NotificationPlugin.java" target-dir="src/com/ayogo/cordova/notification" />
    <source-file src="src/android/notification/RestoreReceiver.java" target-dir="src/com/ayogo/cordova/notification" />
    <source-file src="src/android/notification/ScheduledNotification.java" target-dir="src/com/ayogo/cordova/notification" />
    <source-file src="src/android/notification/ScheduledNotificationManager.java" target-dir="src/com/ayogo/cordova/notification" />
    <source-file src="src/android/notification/TriggerReceiver.java" target-dir="src/com/ayogo/cordova/notification" />

    <preference name="ANDROID_SUPPORT_V4_VERSION" default="27.+" />
    <preference name="FCM_VERSION" default="11.8.0" />

    <framework src="com.android.support:support-v4:$ANDROID_SUPPORT_V4_VERSION" />
    <framework src="com.google.android.gms:play-services-base:$FCM_VERSION" />
    <framework src="com.google.firebase:firebase-messaging:$FCM_VERSION" />
    <framework src="com.google.firebase:firebase-core:$FCM_VERSION" />
    <framework src="src/android/push.gradle" custom="true" type="gradleReference" />
  </platform>
</plugin>
